<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Submitted Info</h2>
  <p>Name: @ViewBag.Name</p>
  <p>Dojo: @ViewBag.Dojo</p>
  <p>Favorite Language: @ViewBag.FavLang</p>
  <p>Comments: @ViewBag.Comment</p>
</body>
</html>